.taskList {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 20px;
    width: auto;
    height: auto;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.task__item {
    background-color: white;
    border: 2px #282c34;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.task__item__title {
text-align: left;
}


.task__element {
    margin-bottom: 3px;

}

.addTaskForm {
    margin-right: 50%;
    margin-left: 40%;
    margin-top: 50px;
    width: 500px;
    height: 300px;
    background-color: lightgrey;
}

.addTaskForm__items {
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 20%;
}
